#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#sudoku {
  border: solid 5px var(--border-high-contrast);
  border-collapse:collapse;
  box-sizing:border-box;
}

.sudoku-td {
  border: solid 3px var(--border-high-contrast);
  border-collapse:collapse;
  box-sizing:border-box;
}

.cell-block {
  /* border: solid 2px var(--border);
  border-collapse:collapse; */
  margin: 0 auto;
  width: 99%;
  justify-content: space-between;
  box-sizing: border-box;
}

.cell-block-td {
  border: solid 1px var(--border);
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0 auto;
}

.cell {
  /* border: solid 1px var(--border); */
  border-collapse:collapse;
  margin: 0 auto;
  width: 99%;
  justify-content:space-between;
  box-sizing:border-box;
}

.candidates {
  text-align: center;
  border: none;
  border-radius: 4px;
}

.selected {
  font-size: 40px;
  font-weight: bolder;
}

.candidates:hover {
  background-color: var(--accent-bg);
  cursor: pointer;
}